.teamview-head {
    margin-left: 100px;
    font-size: 1.5em;
}

.teamview-p {
    margin-left: 100px;
    font-size: 1em;
    color: blue;
    margin-bottom: 50px;
}


.teamview-p1 {
    margin-left: 100px;
    font-size: 1em;
    color: blue;
    margin-bottom: 20px;
    
}
.reject {
    margin-left: 20px;
}
 .table-teamview {
    margin-bottom: 50px;
    width: 80%;
    margin-left: 100px;
    

}